= form_for @meeting do |f|
  .meeting-start_date.form-group.row
    = f.label "日付：", class: "col-sm-2 col-form-label meeting-start_date__label"
    = f.date_select :start_date, class: "col-sm-6 form-control meeting-start_date__datetime-field"
  .meeting-end_at.form-group.row
    = f.label "時間：", class: "col-sm-2 col-form-label meeting-time__label"
    = f.time_select :start_date, ignore_date: true, minute_step: 15, prompt: true, class: "col-sm-4 col-form-label meeting-start_date__time-select"
    |   〜
    = f.time_select :end_at, minute_step: 15, prompt: true, class: "col-sm-4 col-form-label meeting-end_at__time-select"
  .meeting-category.form-group.row
    = f.label "カテゴリー：", class: "col-sm-2 col-form-label meeting-category__label"
    = f.text_field :category, class: "col-sm-6 form-control meeting-category__text-field", value: "#{cookies[:meeting_category]}"
  .meeting-description.form-group.row
    = f.label "詳細：", class: "col-sm-2 col-form-label meeting-description__label"
    = f.text_area :description, class: "col-sm-10 form-control meeting-description__text-area", rows: "8", value: "#{cookies[:meeting_description]}"
  = f.submit "保存", class: "btn btn-primary meeting-submit"
