- provide :title, t('application.titles.meetings')
h2 #{t('application.titles.meetings')}
.meetings-info
  - @meetings.each do |meeting|
    ul.meeting-list.list-group.my-4
      li.meeting-list__category.list-group-item.list-group-item-primary.d-inline-flex
        div
          = meeting.category
        ul.flex-row.d-none.d-md-flex.ml-md-auto
          - if user_signed_in?
            button.btn.btn-primary.mr-2 type="button" data-toggle="modal" data-target="#meeting_#{meeting.id}" Comment

            // Modal
            .modal.fade id="meeting_#{meeting.id}" tab-index="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true"
              .modal-dialog role="document"
                .modal-content
                  .modal-header
                    h5#commentModalLabel.modal-title コメント投稿
                    button.close type="button" data-dismiss="modal" aria-label="Close"
                      span aria-hidden="true" &times;
                  = form_for @comment do |f|
                    .modal-body
                      = f.hidden_field :user_id, value: current_user.id
                      = f.hidden_field :meeting_id, value: meeting.id
                      = f.text_area :description, class: "form-control"
                    .modal-footer
                      button.btn.btn-danger data-dismiss="modal" Cancel
                      = f.submit "Submit", class: "btn btn-primary"

          - if current_user.try(:admin)
            = button_to "edit", edit_meeting_path(meeting), method: :get, class: "btn btn-warning mr-2"
            = button_to "delete", meeting, method: :delete, class: "btn btn-danger"
      li.meeting-list__date.list-group-item
        span.date--label 日時：
        = l meeting.start_date, format: :full_date
        | 〜
        = l meeting.end_at, format: :time_only
      li.meeting-list__description.list-group-item
        = simple_format(meeting.description)

      // comment section
      - if meeting.comments.any?
        li.meeting-list__comments.list-group-item
          h3 コメント
          .comment-container
            - meeting.comments.each_with_index do |comment, idx|
              .comment-content
                .comment-content__idx #{idx + 1} : 
                .comment-content__author
                  span.text-info #{comment.user.username}
                  |さん
                .comment-content__created_at
                  |投稿日: #{l comment.created_at, format: :full_date}
                .comment-content__description
                  = simple_format(comment.description)

= paginate @meetings
