body{
  font-family: Helvetica, sans-serif, Meiryo, メイリオ, Osaka, arial;
  background: #eeeeee !important;
}

div.main-container{
  background: white;
  line-height: 2rem;
  &__main-content{
    padding: 2rem;
  }
}

footer{
  padding: 20px;
  background: dimgrey;
}

/* entry with icon and decoration */
.page{
  h2{
    margin: 2rem auto;
    padding: 1rem;
    border-color: dimgrey;
    border-style: dotted;
    border-width: 0 0 4px 0;
    &::before{
      margin: 0 10px;
      font-family: "FontAwesome";
      content: "\f1b2";
      color: $step-primary;
    }
  }

  h3{
    margin: 2rem auto;
    font-size: 1.4rem;
    padding: 0.5rem 0 0.5rem 1rem;
    border-width: 0 0 0 6px;
    border-color: dimgrey;
    border-style: solid;
  }
}
