.btn{
  &-plain{
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.4) inset;
    background: whitesmoke;
    border-radius: 50%;
    border-width: 0;
    height: 3rem;
    width: 3rem;
    padding: 0;
    cursor: pointer;

    transition: all ease 0.4s;

    &:hover{
      text-shadow: 2px 2px 4px white;
      background: darken(whitesmoke, 20%);
    }

    &:focus{
      background: grey;
      outline: none;
    }
  }
}
