.comment-container{
  .comment-content{
    margin-bottom: 0.6rem;
    &__idx{
      display: inline;
    }
    &__description{
    }
    &__author{
      margin-right: 1rem;
      display: inline;
    }
    &__created_at{
      display: inline;
    }
  }
}
