.header-nav{
  background-image: linear-gradient(to bottom, $step-primary, darken($step-primary, 3%));
  position: relative;
  z-index: 1000;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
  height: 100%;
  &__navbar{
    &__logo{
      color: whitesmoke;
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 0.5rem;
      text-shadow: 0px 3px 1px rgba(20, 20, 20, 0.2);
      &--second{
        font-size: 0.8rem;
      }
    }
    &__menu{
    }
  }
  .nav-item{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    &--username{
      cursor: default;
    }
  }
}
