div.main-container__side-content{
  position: relative;
  z-index: 2;
  margin-top: 50px;
  padding-left: 0px;
  .sidebar__items{
    &__item{
      color: whitesmoke;
      position: relative;
      padding: 1rem;
      overflow: visible;
      margin-left: -10px;
      font-size: 0.8rem;
      font-weight: bold;
      background: grey;
      margin-bottom: 2rem;
      border-top-left-radius: 3px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      &::before{
        position: absolute;
        z-index: 1;
        content: "";
        border-style: solid;
        border-color: transparent;
        border-width:0px 10px 10px 0px;
        border-right-color: darken(grey, 30%);
        top: 100%;
        left: 0;
      }
      &::after{
        position: absolute;
        content: '';
        background-color: grey;
        height: 100%;
        width: 20px;
        top: 0;
        right: 0;
        left: 82%;
        z-index: -1;
        transition: all 0.2s ease-out;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
      &:hover{
        color: darken(whitesmoke, 10%);
      }
      &:hover::after{
        width: 30%;
      }
    }
  }
}
