@import url(https://fonts.googleapis.com/css?family=Saira+Semi+Condensed);
.site-logo{
  margin: auto;
  padding: 10px;
  font-size: 6rem;
  font-family: "Saira Semi Condensed";
  letter-spacing: 0.5rem;
  //color: white;
  .logo-st{
    border-bottom: 8px solid silver;
    border-right: 8px solid silver;
    .logo-s{
    }
    .logo-t{
    }
  }
  .logo-ep{
    position: relative;
    padding-left: 0.5rem;
    &::before{
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-top: 8px solid silver;
    }
    &::after{
      position: absolute;
      content: "";
      top: -12px;
      right: 0;
      left: 128px;
      border: 1rem solid transparent;
      border-left: 1rem solid silver;
    }
    .logo-e{
    }
    .logo-p{
    }
  }
}
