/* set a background color */
.history {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;

  /* the actual timeline(the vertical ruler) */
  &__timeline{
    background-color: #474e5d;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    /* the actual timeline(the vertical ruler) */
    &::after{
      content: '';
      position: absolute;
      width: 6px;
      background-color: white;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }

/* Container around content */
    &__left,&__right{
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 50%;

      /* the circle on the timeline */
      &::after{
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -12px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }

      /* actual content */
      .content{
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
      }
    }

    &__left{
      left: 0;
      &::before{
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
      }
    }

    &__right{
      left: 50%;
      &::before{
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }

      /* fix the circle */
      &::after{
        left: -13px;
      }
    }
  }
}

@media all and (max-width: 600px){
  .history{
    &__timeline{
      /* Place the timeline to the left */
      &::after{
        left: 31px;
      }
      &__right,&__left{
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;

        /* Make sure that all arrows are pointing leftwards */
        &::before{
          left: 60px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }

        /* Make sure all circles are at the same spot */
        &::after{
          left: 18px;
        }
      }

/* Make all right containers behave like the left ones */
      &__right{
        left: 0%;
      }
    }
  }
}
