//import other home controller's css
@import './_history';
@import './_joinus';

// index
.headline-info{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  &__site-logo{
    //height: 450px;
    //background: url('../../images/minatomirai.jpg');
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 6rem;
  }

  &__group-description{
    font-size: 1.1rem;
    line-height: 2;
    margin: 2rem;
  }
}

.main-info{
  //meetings-nav
  &__meetings-nav{
    padding: 1rem;
    margin: 2rem auto;
    //tab navigation
    &__tab{
    }

    //tab-content
    &__tab-content{
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 2rem;
      .meeting__date{
        margin: 10px;
        font-size: 1.4rem;
      }
      &--admin-menu{
        padding: 20px;
      }
    }
  }
}
