- provide :title, t('application.titles.about')
article.about__questions
  h2.about__questions--title #{t('application.titles.about')}
  section.about__question
    h3.about__question--title 「ステップ」って何？
    p.about__question--anwser
      |ひきこもりの当事者・経験者による、親睦と交流のためのサークルです。
      |月に1回程度、神奈川県内で会合を開いています。
  section.about__question
    h3.about__question--title どのような活動をしているの？
    p.about__question--anwser
      |月に1回程度（土日のいずれか）、主に横浜市内の公共施設の部屋を借りて会合を開いています。
    |会合の内容はいまのところ、日ごろの悩みなどを話し合ったり、そのほかにはテーマトークや雑談、情報交換といったところで、そんな堅苦しいものではなく、おしゃべりの会に近い感じです。
  section.about__question
    h3.about__question--title 参加対象は？
    p.about__question--anwser
      |ひきこもりの当事者、またはかつてひきこもった経験があり理解のできる方を対象としています。
    |「自分がひきこもりに当てはまるのかどうかよくわからないのですが…」といった問い合わせを受けることもあるのですが、このHPの内容を読んで、何となくしっくり来るなと思われた方なら馴染めるのではないかと思います。
  section.about__question
    h3.about__question--title 会費は？
    p.about__question--anwser
      |現在、無料で借りられる施設を利用しているため、参加費は集めていません。
  section.about__question
    h3.about__question--title 会合に参加するには？
    p.about__question--anwser
      |「参加方法」のページに書いてある内容をよくお読みの上、メールを送ってください。折り返し場所等の詳細をお知らせします。
      |またその際、出来たらご自分のひきこもりについての経緯やいまの状態について、簡単に書いてくださると助かります。
  section.about__question
    h3.about__question--title 会合の参加にあたって
    p.about__question--anwser
      |参加者を把握する都合上、「参加方法」のページを参照の上、事前にメールをくださるようにお願いします。
      |会合の時間内であれば、何時に来て何時に帰っても自由です。
      |ご自分の都合や調子に合わせて、お好きな時間に参加してください。
      |会合への出席・欠席ももちろん自由です。
      |また、このサークルは精神的に若干ナイーヴなところを抱えた人たちの集まりですので、もし著しく他の参加者を傷つけたり、迷惑となる発言や行為をする方がいた場合には、退会の処置をとる場合もあります。ご了承ください。
      |尚、「ステップ」はいわゆる"オフ会"ではありませんので、ハンドル名での参加はご遠慮いただいております。
  section.about__question
    h3.about__question--title 参加者はどんな人？
    p.about__question--anwser
      |ひきこもりの当事者だけでなく、以前そうだったという「経験者」の人もいます。
      |年齢でいえば10代後半から50代後半まで、特に仕事をしていないという人から、アルバイトをしている人、通信制の学校に通っている人、他の自助グループや（スタッフのいる）デイケアに通っている人、定職に就いているけど人間関係で苦労している人、対人不安のためにひきこもりがちになっている人など、さまざまです。
      |やはり神奈川に住んでいる方の参加が多いですが、神奈川限定ということではないですし、千葉・東京・埼玉などの周辺都県の方も参加しています。
  section.about__question
    h3.about__question--title 参加者の人たちは、どういった目的で参加しているの？
    p.about__question--anwser
      |「近場でこういった場所をつくりたい」「ひきこもりに関するまじめな話がしたい」「他の人の経験談を聞いて自分の参考にしたい」「同じような悩みを抱えた仲間（友達）をつくりたい」など、人それぞれです。
  section.about__question
    h3.about__question--title （ひきこもり当事者を持つ）ご家族の方々へ
    p.about__question--anwser
      |ご家族・知人等の参加は、現在のところご遠慮いただいております。
      |また、ご家族らによる強制ではなく、あくまでもご本人の自発的な意思での参加を希望しています。
  section.about__question
    h3.about__question--title その他わからないこと
    p.about__question--anwser
      |メールにてお問い合わせください。
      = mail_to "stepkanayoko@yahoo.co.jp"
