- provide :title, t('application.titles.links')
article.external_links
  h2 #{t('application.titles.links')}
  h3 行政サービス
  .external_links__item
    = link_to "横須賀保健所ひきこもりガイド", "http://www.city.yokosuka.kanagawa.jp/3130/hikikomori/index.html"
    p.external__links__item__description
      |横須賀保健所で行っているひきこもり支援についてのページです。当事者グループ「ひだまりん」などの活動も行っています。

  h3 民間援助団体など
  .external_links__item
    = link_to "あしたの風クリニック（旧 爽風会佐々木病院）", "http://www.sofu.or.jp/"
    p.external__links__item__description
      |千葉県船橋市にある完全開放型の精神科病院です。社会的ひきこもりを積極的に扱い、入院・デイケアなどもやっています。

  .external__links__item
    = link_to "不登校情報センター", "http://www.futoko.info/"
    p.external__links__item__description
      |不登校やひきこもりなどの支援団体です。会報『Hiki Com'i』の発行や、サークル「人生模索の会」などを主催しています。

  .external__links__item
    = link_to "文庫こころのクリニック", "http://bunkokokoro.com/"
    p.external__links__items__description 金沢文庫にある、精神科医によるカウンセリング専門の相談室です。

  .external__links__item
    = link_to "アンガージュマン・よこすか", "http://npoey.com/"
    p.external__links__items__description
      |不登校、ひきこもりのご本人、周囲の方々と共に社会参加（=engagement)を目指しているNPO法人です。
      |ほかに不登校やひきこもりの家族会「ウィル」「未来」、父親の会「DAD」、月に一度の夜食会などもやっています。

  .external__links__item
    = link_to "NPO法人 リロード", "http://reroad.jp/"
    p.external__links__items__description
      |フリースクール楠の木学園と神奈川県の協働で活動をしている団体です。
      |ひきこもりに限らず、広く生きづらさを抱えている人たちのための居場所作りの活動をしています。
  .external__links__item
    = link_to "新ひきこもりについて考える会", "https://hkangaerukai.wordpress.com/"
    p.external__links__items__description
      |東京で活動している、当事者・家族・支援者等の三者が集まっているグループ。毎回テーマを決めて話し合いや意見交換をしています。

  h3 個人のページ
  .external__links__item
    = link_to "うつ病治療のウソ・ホント | 現役カウンセラーが教えるＱ＆Ａ専門サイト", "http://www.utu-kaiketu.jp/"
    p.external__links__items__description うつ病治療についてカウンセラーの視点から質問を解決しているサイトです。
  .external__links__item
    = link_to "話しませんか？", "http://hiki.o.oo7.jp/"
    p.external__links__items__description
      |ひきこもり、不登校、いじめの被害、対人恐怖や強迫神経症などに悩む方などのための交流の場所です。ひきこもりや相談機関についての情報が豊富です。

  .external__links__item
    = link_to "ひきこもりピアサポートとリカバリーの部屋", "https://hikikomori-peersupport.jimdo.com/"
    p.external__links__items__description
      |Stepとも交流のあるひきこもり経験者がピアサポート研究・活動をしている個人サイトです。
