- provide :title, t('application.titles.history')
article.history
  h2 #{t('application.title.ja')} #{t('application.titles.history')}
  p ステップは2015年7月で、設立されてから15年を迎えました。
  p これまでの歩みをふり返る意味でこのページを作成しました。

  h3 15周年の集い
  p
    |2015年7月には15周年の集いが行われました。
    |様々な代の参加者の交流のきっかけになればとの願いのもと、前半は皆で調理をし、色々な工程を協力し分担する中で親睦を深め、
    |後半は会合形式で、参加していた当時の話などに花を咲かせました。

  h3 ステップ年表
  .history__timeline
    .history__timeline__left
      .content
        h4 2015 - 7
        p 「15周年の集い」が開催される
    .history__timeline__right
      .content
        h4 2010 - 7
        p ステップ設立10周年を迎える
    .history__timeline__left
      .content
        h4 2009 - 11
        p 臨時のミニ会合「ミニステップ」を行う
    .history__timeline__right
      .content
        h4 2007 - 3
        p 女性限定会合「ステファニー」が始まる
        p （翌年3月まで隔月開催）
    .history__timeline__left
      .content
        h4 2005 - 8
        p 「新旧ステップ夏会合2005」が開かれる
    .history__timeline__right
      .content
        h4 2005 - 5
        p ステップの活動が再開される
    .history__timeline__left
      .content
        h4 2004 - 12
        p ステップの活動が一時休止になる
    .history__timeline__right
      .content
        h4 2000 - 7
        p ステップが設立される
