- provide :title, t('application.titles.index')

// headline information
section.headline-info
  // title logo
  .headline-info__site-logo
    h1.site-logo
      span.logo-st
        span.logo-s S
        span.logo-t T
      span.logo-ep
        span.logo-e E
        span.logo-p P
  // site description
  h2.headline-info__group-description
    |「#{t("application.title.ja")}」は、ひきこもりの当事者・経験者による、
    |親睦と交流のためのサークル・ひきこもり自助グループです。
    |現在は月に一回程度、神奈川県内で会合を開いています。

// main information
section.main-info
  .main-info__meetings-nav
    ul.nav.nav-tabs.main-info__meetings-nav__tab#meeting-tab role="tablist"
      li.nav-item
        a.nav-link.active#nextmeeting-tab data-toggle="tab" href="#nextmeeting" role="tab" aria-controls="#nextmeeting" aria-selected="true"
          |次回の予定
      li.nav-item
        a.nav-link#afternextmeeting-tab data-toggle="tab" href="#afternextmeeting" role="tab" aria-controls="#afternextmeeting" aria-selected="false"
          |次々回の予定
      li.nav-item
        = link_to "スケジュール", meetings_path, class: "nav-link", id: "meetings", "aria-selected": "false"
      - if current_user.try(:admin)
        li.nav-item
          a.nav-link#admin-menu-tab data-toggle="tab" href="#admin-menu" role="tab" aria-controls="#admin-menu" aria-selected="false"
            |管理者メニュー
    #meeting-tab-content.tab-content.main-info__meetings-nav__tab-content
      //次回の予定
      .tab-pane.fade.show.active#nextmeeting role="tabpanel" aria-labelledby="nextmeeting-tab"
        - if !!@next_meeting
          p
            | 次回の#{t('application.title.en')}は
            span.meeting__date.text-primary #{l @next_meeting.start_date, format: :full_date} 〜 #{l @next_meeting.end_at, format: :time_only}
            | に#{@next_meeting.category}を予定しています。
            .nextmeeting__description
              = simple_format(@next_meeting.description)
        - else
          p 未定です。

      //次々回の予定
      .tab-pane.fade#afternextmeeting role="tabpanel" aria-labelledby="afternextmeeting-tab"
        - if !!@after_next_meeting
          p
            |次々回は
            span.meeting__date.text-primary #{l @after_next_meeting.start_date, format: :full_date}
            |を予定しています。
        - else
          p 未定です。

      //管理者メニュー
      .tab-pane.fade#admin-menu.main-info__meetings-nav__tab-content--admin-menu role="tabpanel" aria-labelledby="admin-menu-tab"
        - if current_user.try(:admin)
            p 予定を追加する
            = render 'meetings/form'
