- provide :title, t('application.titles.introduction')
article.main-info__greetings
  h2 #{t('application.titles.introduction')}
  p
    |ステップは、ひきこもりの当事者・経験者による交流・親睦のためのサークルです。
  p
    |2000年の7月に自助会やデイケアなどで知り合った人たちが、「近場に同じような悩みや経験を持った人どうしが集まれる場所がほしい」といった動機で立ち上げて、
    |それ以降ほぼ月1回のペースで会合や遊びの企画を開いてきています。
  p
    |主に神奈川に住む人が作ったサークルなので、活動は主に県内でやっていますが、神奈川県に住む人だけでなく、千葉・東京･埼玉などの周辺都県の方も参加しています。
  p
    |最近では「ひきこもり」という言葉も以前に較べてだいぶメジャーになってきました。
    |でもひと口に「ひきこもり」といっても、部屋から一歩も出られない人から、病気ではないけれども人間関係がうまくいかず社会に出られないで家にいる人、あるいは外に出たり仕事に就いたりしていても生きづらさを抱えている人まで、本当にさまざまです。おそらく、「ここからここまでがひきこもり」と明確に区切ることのできるものではないのだと思います。
    |ですので、ステップへの参加については、ご本人が「自分はひきこもりだ（だった）」と思っている方ならどなたでも結構です。
  p
    |ステップにはサークル全体としての目標のようなものは特に何もありませんけれど、でもとりあえず参加する人たちにとって、「ひきこもりがひきこもりであっても批判されない、安心できる居場所」であれば、と思います。
    |ひきこもっている（いた）ことは前提なので、そのことで責められたりしない安心感はあるのではないかと思います。また同じ悩みを持つ人どうし、何かヒントや友達がみつかるかもしれません。実際、ここで仲良くなった人どうしで遊びに行ったりということもあるようです。
    |ただ、こういった場に参加することがひきこもりの特効薬になるというものでもありませんし、スタッフをしているメンバーも専門家ではないひきこもりの当事者・経験者なので、至らないところも多々あると思います。その点はあらかじめご理解ください。
    |ステップの活動に少しでも興味を持ったという方がいらしたならば、ぜひ参加してみてください。ステップの活動が、参加者それぞれが何がしかの"一歩"を踏み出していく上において、"ちょっとした支え"くらいの手助けになれるのならば、このサークルにとって、とても幸せなことだと思います。
  .float-right
    p
      |2002年3月10日
    p
      |ステップ運営スタッフ一同
