- provide :title, t('application.titles.joinus')
h2 #{t('application.titles.joinus')}
section.join-us
  section.join-us__child-section
    h3.join-us__child-section__title 参加方法
    .join-us__child-section__description
      p
        |会合に参加を希望される方は、以下の内容を書いた上で
        = mail_to "stepkanayoko@yahoo.co.jp"
        |宛てにメールを送ってください。 折り返し会合の場所等をお知らせします。（※送信前にヤフーメールが受信拒否設定されていないかご確認ください。）
      p 会合日の寸前だと応対が間に合わなくなる事がありますので、メールは早め(できれば参加予定日の一週間前まで)に送ってくださると助かります。
      p また、会合にあたっての注意事項を記しますので、会合の参加にあたっては、あらかじめ以下の内容を承知した上でお願いします。
  section.join-us__child-section
    h3.join-us__child-section__title 記入内容
    .join-us__child-section__description
      ul
        li お名前(ハンドルネームでの参加はご遠慮頂いております)、性別、年齢(書いてもいいという方のみ)
        li お住まいの地域(自治体名までで結構です。例：「横浜市青葉区」、「町田市」)
        li ご自身のひきこもりの状況について、ひきこもり期間や現在の様子、悩み、今現在ひきこもりに関して援助を受けている場所などがあれば、簡単に書いてください。(出来る範囲で構いません)
        li もしよければ、ひきこもりに関する事以外の簡単な自己紹介(趣味、興味のある事など)を書いてください。
        li またもしよろしければ、差支えない範囲で今回参加申し込み下さった経緯・動機をご記入ください。（雰囲気を知りたい。同じひきこもりの人と話をしてみたい等）
      ul.list-unstyled
        li
          small 注1：なお、記入していただいた内容については運営スタッフ以外の外部に漏らされることはありません。
        li
          small 注2：メール環境にない方は、誰かに代理で送ってもらうというのでも結構です。その際は代理メールであることを付記するようにしてください。
        li
          small 注3：たまに添付ファイルをつけたメールを送ってくださる方がいますが、添付ファイルは自動的に削除される設定になっていますので、記入内容等はメール本文に書いて送ってください。
  section.join-us__child-section
    h3.join-us__child-section__title 注意事項
    .join-us__child-section__description
      p ひきこもりの当事者・経験者の方を対象としています。年齢・性別は問いません。
      p 重い精神病の方は残念ながら受け付けておりません。
      p 当サークルはひきこもりの当事者・経験者の交流を目的とした集まりですので、専門的なカウンセリングなどはできません。
      p 他の同様なグループにおいて、他のメンバーに多大な迷惑を与えるようなトラブルを起こしてしまったことのある方はご遠慮願います。
      p もし参加者同士のトラブルが起こった場合は、自己責任で解決するようにしてください。
      p 他の参加者へ著しく迷惑を与えるような行為があった場合、退会処分とすることがあります。
      p ステップはいわゆる「オフ会」ではありませんので、ハンドルネームでの会合参加はご遠慮ください。
      p 宗教・政党・営利活動等との関わりはありません。
      p また、それらとまぎらわしい活動を持ち込むようなことはしないようお願いします。
      p 場合によっては、参加を見送らせていただくこともありますので、その点はあらかじめご了承ください。
