- provide :title, t('application.titles.rules')
article.rules
  h2 #{t('application.titles.rules')}

  h3 はじめに
  p #{t('application.title.ja')}は、ひきこもりの当事者・経験者による、親睦と交流のためのサークルです。

  h3 参加対象およびメンバー
  p ひきこもり当事者・経験者の方で、自主的にかつ自己責任においてこのサークルに参加する意志のある方を対象とします。

  p 以下の方は対象外としています。

  ul
    li ひきこもり当事者・経験者でない方。
    li 重い精神病の方。
    li 他の同様なグループ・サークル等において、他のメンバーに多大な迷惑を与えるようなトラブルを起こしてしまったことのある方。
  p 「ステップ」への参加可否は、上記に基づいて運営スタッフが判断するものとします。

  p 以上の条件を満たした上で、「ステップ」の活動に参加してくださる方々をメンバーとさせていただきます。

  h3 運営スタッフ
  p 運営スタッフは複数の者によって構成され、「ステップ」の運営を担当し、企画・会計・連絡・広報などを行うものとします。
  p また、そのために運営ミーティングを月に1回程度行い、そこで決定した内容に従って、サークルを運営していかなければなりません。

  p 運営スタッフの選出は、メンバー内における立候補・推薦によって行います。
  p その際、「ステップ」の会合に3回以上＋運営ミーティングに1回以上出席している者であることをスタッフ資格者としての条件とします。

  p 任期は1期6ヶ月（4～9月、10月～翌3月の1年2期制）。
  p 個人の健康上の理由、あるいは社会復帰にともなう多忙などで辞めざるを得ない場合には、これを極力尊重します。
  p 続けて運営スタッフを引き受けることも可能とします。
  p 運営スタッフは、「ステップ」の運営に関する重要な役割を担っています。
  p したがってそのことを自覚し、なおかつ他のメンバーからの意見に耳を傾けて、責任を持った運営をしていかなければなりません。

  h3 禁止事項および退会処分
  p サークル内において、以下に定める禁止事項を犯した場合、運営スタッフの決定によってメンバーの資格を喪失する場合があります。
  ul
    li 会の内部で聞いたプライバシー情報の不適当な漏洩。
    li 他のメンバーへのストーカー的行為。
    li 他団体、専門的援助機関、宗教機関への執拗な勧誘。
    li 会員間での大きなトラブル。
    li その他、運営スタッフがこのサークルにはふさわしくないと認めた者。

  h3 免責事項
  p 当サークルは専門的援助機関ではありません。
  p よって、それに類するサービス・援助行為は一切行いません。
  p メンバーが当サークルに参加する事によって起こるいかなる精神的症状についても責任はとれません。援助行為が必要な場合は専門の機関に行ってください。
  p 過剰な依存や期待などには応えられません。
  p 会員間相互のトラブルに関しても関知できません。
  p 個々のメンバーの幸福・悩みの解消・社会復帰などは願ってやまないものですが、それを保証することはできません。
