- provide :title, t('application.titles.staff')
h2 #{t('application.titles.staff')}
h3 HN：のらり  横浜市在住
p
  |現在スタッフをさせてもらっているのらりと申します。
  |私自身も引きこもり経験があり何かのとっかかりになれば、
  |とステップに参加した一参加者でした。
  |その後、前任のスタッフの方から引き継ぐ形で運営させてもらっています。
p
  |私が参加したばかりの頃、私から見える世界の色は真っ暗であり真っ黒でした。
  |しかし時間をかけてstepに足を運び、また違う場所にも足を運び、
  |様々な人と交わるうちに、世界も随分と色を帯びてきました。
p
  |最初の一歩になってくれたこの場所にはとても感謝していますし、
  |今も会に来てくれる皆さんと会える事をありがたく思っています。
p
  |今後もstepを通じて、一歩踏み出したい人も休んでいたい人も、
  |そのまんま訪れる事が出来るこの場所で、皆様と出会い交流しながら
  |色々な人の気持ちを学ばせていただきたいです。
  |どうぞよろしくおねがいします。

h3 HN: ライス
p
  |初めましてライスと申します。
p
  |短大卒業時に決まっていた就職先から逃げてしまい、
  |６年間ひきこもりをしていました。
  |stepのことはこのホームページで知り、一年ほど前から毎回参加しています。
p
  |社会復帰までのこの２年間は想像を絶する試練の連続でした。
  |一番辛かった時期。
  |「あと何日すればみんなに会える」
  |会合日を指折り数えながら
  |もうstepだけが私の生きるバイタリティでした。
p
  |そんなstepへ少しでも恩返しができたら…と思い、
  |スタッフへの参加を希望しました。
p
  |よろしくお願いします。

h3 HN:もへじ
p
  |私はひきこもっていた時期にstepで多種多様な生き方をされている方々のお話を聞いてから、初めて自分を肯定することが出来ました。
  |その後、時間はかかりましたが外に出て仕事場に通えるようになり
  |暫く月日が経ち自分の生活ペースが掴めてきた現在、スタッフとしてstepに関わらせていただこうと思いました。
p
  |スタッフだけでなく参加者の方と一緒に居場所をつくっていきたい、
  |守りたいと思っています。
p
  |人と人がつながるお手伝いが出来たらとても嬉しく、誇りに思います。
  |よろしくお願いします。
