- provide :title, t('application.titles.voice')
article.voice
  h2 #{t('application.titles.voice')}
  ul.nav.nav-pills#list-tab role="tablist"
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" 2000年
      .dropdown-menu
        a.dropdown-item#list-1-list data-toggle="list" href="#list-1" role="tab" aria-controls="1" HN:ALさん
        a.dropdown-item#list-2-list data-toggle="list" href="#list-2" role="tab" aria-controls="2" HN:DAIパパさん

    li.nav-item.dropdown
      a.nav-link.dropdown-toggle data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" 2008年
      .dropdown-menu
        a.dropdown-item#list-3-list data-toggle="list" href="#list-3" role="tab" aria-controls="3" HN:リュウタさん

    li.nav-item.dropdown
      a.nav-link.dropdown-toggle data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" 2009年
      .dropdown-menu
        a.dropdown-item#list-4-list data-toggle="list" href="#list-4" role="tab" aria-controls="4" HN:凡さん

    li.nav-item.dropdown
      a.nav-link.dropdown-toggle data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" 2015年
      .dropdown-menu
        a.dropdown-item#list-5-list data-toggle="list" href="#list-5" role="tab" aria-controls="5" HN:ムサさん
        a.dropdown-item#list-6-list data-toggle="list" href="#list-6" role="tab" aria-controls="6" HN:もへじさん
        a.dropdown-item#list-7-list data-toggle="list" href="#list-7" role="tab" aria-controls="7" HN:asahiさん

  .tab-content.nav-tabContent
    .tab-pane.fade.show.active#list-1 role="tabpanel" aria-labelledby="list-1-list"
      = render 'home/voice/al'
    .tab-pane.fade#list-2 role="tabpanel" aria-labelledby="list-2-list"
      = render 'home/voice/daipapa'
    .tab-pane.fade#list-3 role="tabpanel" aria-labelledby="list-3-list"
      = render 'home/voice/ryuta'
    .tab-pane.fade#list-4 role="tabpanel" aria-labelledby="list-4-list"
      = render 'home/voice/bon'
    .tab-pane.fade#list-5 role="tabpanel" aria-labelledby="list-5-list"
      = render 'home/voice/musa'
    .tab-pane.fade#list-6 role="tabpanel" aria-labelledby="list-6-list"
      = render 'home/voice/moheji'
    .tab-pane.fade#list-7 role="tabpanel" aria-labelledby="list-7-list"
      = render 'home/voice/asahi'
