h2 AL さん

h3 ステップに参加していた時期
p 設立当初から1年半くらい。

h3 当時のステップの会合について
p テーマごとにグループで話合い、フリートークなどをしていた記憶があります。あまり重たい空気ではなかったと思います。

h3 当時のことで印象に残っていることや感想
p 記憶が薄れてでてきません・・・。

h3 「ステップ」が自分の人生にとってどんなステップになったか
p
  |わたしはずっといつか何かが起こって自分の生活が好転するのではないかと、そうなったらいいなと思っていました。
  |でも、そんなものはないんだということを、いい意味であきらめさせてくれたきっかけのひとつです。

h3 今現在の状況
p
  |専業主婦で子育て中。1才の子供がいます。
  |そろそろ仕事をしたいなーと思っていますがなかなか腰が上がらず。

h3 ステップが作られた経緯について
p
  |とびらの会という自助グループ内で神奈川県在住者のグループをつくろうという話が持ち上がったのがきっかけだったと思います。
  |とびらの会は主に東京で月1回会合をしていましたが、もっと会合の機会を増やしたいという方が多くステップに限らずあっちこっちに自助グループができていました。
  |スタッフはしていないので事務的な内容はわかりません。
