h2 asahi さん

h3 当時のステップの会合について
p
  |今とほとんど同じ感じで近況などを話したり、テーマトークをしていました。
  |たまにトランプなどもやっていました。

h3 当時のことで印象に残っていることや感想
p
  |初めて参加した時は人数が多かったです。
  |当時は和室だったこともあり、友達の家でお茶しているようなゆったりとした雰囲気でした。

h3 「ステップ」が自分の人生にとってどんなステップになったか
p
  |人と関わりを持つことの第一歩になりました。
  |参加した当時はスタッフの人にふってもらった時しか喋れませんでしたが、今では自分から話せるようになり、ステップ以外の場でも積極的に会話していけるようになったので、人間関係が広がりました。

h3 この場を借りてステップへ
p
  |１５周年おめでとうございます。
  |ステップに参加して、色々な人と出会えて人間関係を築くきっかけになりました。
  |みんなと共感しあったり辛い事を乗り越えたりして、自信を持つことが出来たので感謝しています。
  |ステップが、一人でも多くの人が自信を持てるような場であってほしいなと思います。
