h2 凡 さん
p
  |私は09年5月より参加し、縁があり準スタッフもやらせて頂きました。
  |自助グループへの参加は、STEPが初めてです。
  |10年という長き歩みの中で、一時でも運営側へ関わらせて頂けた事を光栄に思います。
p
  |私がSTEPへ参加しようと思った動機は、普段中々、社会的に似た状況や悩みを抱えている人達と接する機会がないので、
  |そんな人達と出会い、色々な話を交わしたいと思った事が理由の一つです。会に対しては過剰な期待も不安もなく、ニュートラルな気持ちでの参加でした。
  |とにかく行動を起こさなければと思ったのです。
p
  |初めて会合場所へ向かう時は、やはり緊張感はありましたが、部屋に一歩踏み入れた時「あ、大丈夫だ」と安堵したのを覚えています。落ち着いた大人の集まりという印象で、気張らずに自然体で溶け込めました。
  |私が初参加した時は、参加人数18名というここ数年でも最高人数の時でして「ずいぶん盛況だなぁ」と感じたのが印象に残っています。まさか数ヵ月後に十数名を前にして自分が進行役をやるなんて夢にも思いませんでした(一回きりですが)。貴重な経験させて頂きました。
p
  |STEPホームページの「はじめに」に記してある様に、「引きこもり」という概念も捉え方が様々です。状況や境遇、そして年代も様々で、自助グループに求めるものも人それぞれでしょう。
  |STEP参加者の傾向としては、人との繋がりやコミュニケーションを求め、社会的な「次」を目指している人が多いと感じました。私はその様な場を求めてもいたので、すんなりと馴染めましたが、人によっては戸惑いを感じる人もいるかもしれません。それは、引きこもりサークルとしての難しさでもあると感じました。
p
  |STEPに参加したことで、良い意味でメンバー間で相互作用し影響し合い、次の段階を目指す一つのきっかけになりました。また、情報交換などで就労支援施設の存在を知り、スタッフの一人からは資料と共に教えても頂きました。ありがたく思っております。こういった有益な情報を得られた事も、私にとって大きな意義があったことです。それより何より、メンバーの皆さんと色々な交流を持てた事が一番の収穫、良い思い出です。
p
  |会合の部屋からは横浜のビル街が見えます。
  |会合の進行と共に暮れ行く横浜の街が、取分け印象に残っています。
  |過ぎる時の中で、方々から集った者たちが同じ時間を共有したのです。
  |私は、一人一人の顔、言葉を全部覚えています。忘れる事は出来ません。
  |皆それぞれに心に葛藤を抱えながらも、生きる力強さに溢れていました。
  |社会的に困難な状況であろうと悲観せず、前を向いて歩んでいました。
  |私はそんなみなさんからパワーを頂きました。
p
  |帰りの電車の窓からは、後方へ過ぎ去る横浜の夜景が流れて行きました。
  |時間を共有した仲間たちも、それぞれの人生の時間に戻って行きます。
  |きっとまた、どこかで元気にお会いましょう。
p
  |貴重な一つの「時代」を、ありがとうございました。
