h2 ＤＡＩパパ さん

h3 ステップを作った経緯
p
  |僕がステップの設立を考えた大きな動機として、当時東京都内で活動していた『とびらの会』という自助グループの存在が大きかったことは間違いありません。2000年の4月に初めてその会に参加したのですが、そこで体験した雰囲気は、それまで参加してきた他のひきこもり支援団体では得ることのできない特別なモノでした。
  |当時の僕は、大学を中退して以来5年近くに及んだひきこもり期間を終え、高齢者や障害者のボランティア活動を始めており、「もはや“ひきこもり”ではない」と思えるような状況でした。あとは、今後いかに就職していくか（当時の状況で言うなら、「アルバイトに踏み出せるか」）、それが大きな関心事だったのです。そんな中で、すでに社会人として歩んでいる人やアルバイトを始めている人などが何人もいた「とびらの会」の存在はとても魅力的でした。
  |それで、「同様なグループを神奈川県内にも立ち上げたい」と思うようになり、とびらの会内で同様のことを考えていた数名が中心となって、グループ設立に向けて動き始めることになったのです。
  |とびらの会をただ一つ反面教師とした点は、代表者を一人にしないということでした。とびらの会はＩさんという姉御肌的な女性の方が一人で代表を務めていたのですが、僕らにはそのような能力もなく、責任も負えないだろうということから、代表者（スタッフ）は複数にするということを大前提として、自助グループを発足するに至りました。

h3 ステップに参加していた時期
p
  |ステップ設立前の自助グループ立ち上げの企画段階から関わっていました。その後、3年ほどの間参加していたことになるかと思います。
  |スタッフとしては、スタッフ制を始めた2000年10月から翌年9月まで、1年間運営に携わっていました。

h3 当時のステップの会合について
p
  |今もあまり変わらないのかもしれませんが、それぞれがひきこもった経緯や趣味等の話など、硬軟両方の話題を織り交ぜつつ、「お題トーク」のような出題形式のコーナーも設けました。調理室を借りて食事会という時もありましたね（懐かしいなぁ）。

h3 雰囲気はどうだったでしょうか？
p
  |個人的にはとても居心地が良くて楽しい空間でしたが（まぁ、時にそうでないこともありましたけど…）、スタッフとして運営側の立場に立った時、初めてこのような場に来た方々にどれだけのフォローが出来ていたか、申し訳ないような場面も多々あったのではないかと想像します。

h3 当時のことで印象に残っていることや感想
p
  |高校・大学時代に学生生活を謳歌することがほとんどなかった僕にとって、ステップは“サークル活動”のような趣が多分にありました。仲間と会って話し合えること、それ自体がとても楽しくうれしいことだったのです。今思えば、あの時期が僕の“青春時代”だったのかもしれません。
  |定例会にスタッフの3人しか来なかった日があって、あの時は悲しかったなぁ・・・。グループの特性上か、女性参加者の割合が少なかったので、逆に女性の方が多く参加された時なんかはとてもうれしかったですねぇ。遊びの会と称して、定例会以外に企画を立てたこともありました。お花見や花火大会など、いろいろと悲喜こもごも経験させても頂きました。今となっては若き日の良い思い出です・・・（完全にオヤジ口調）。

h3 今現在の状況
p
  |ステップの歩みと時を同じくしてアルバイトを始めるようになり、翌年就職。同じ職場に勤め続けて今年で10年目となります。
  |そして、2002年に職場結婚し、1男2女にも恵まれて、“3児の父”という10年前の僕からは想像もつかない立場にも成らせてもらえました。妻には最大限の感謝の気持ちを表さないといけませんねぇ。言葉だけじゃなく態度でも（これが難しい・・・）。
  |まぁ、こうやって並べてみると何の悩みもない幸せな人間のように見えますが、相変わらず人間関係を築くのが下手クソで、職場の雰囲気にはもう一つ馴染めていないですし、アラフォーにして、性格を変えることの難しさをとことん痛感させられています・・・。
  |また、ひきこもる主因であった神経症のため、心療内科への通院・服薬治療も続けおり、「薬がないと社会人としてやっていけない」トホホな存在でもあるのです。
  |ただ、こんな僕でも人並みの幸せを手に入れることが出来た事実、その点は特に強調したいですし、現メンバーさん達に何らかの励みや刺激を感じてもらえるととてもうれしく思います。

h3 「ステップ」が自分の人生にとってどんなステップになったか
p
  |大げさに言えば、“ステップ”ではなくて“ジャンプ”の機会を与えてくれたのではないでしょうか。
  |もし、「ステップ」という存在がなかったら、僕は就職を果たし、そして社会人を続けていくことが出来たのか、甚だ疑問が残ります。
  |また、人と触れ合うことの大切さや、時に人間関係の難しさを教えてくれ、大切な人々を与えてくれたのも「ステップ」でした。
  |「ステップ」を通じてのジャンプは、僕にとって最高の結果をもたらしてくれたものと思っています。この体験を糧に、新たなるジャンプの場所を求めて、頑張っていかないといけませんね。
  |「人間は、幸せになるために生きている」
  |この言葉を常に念頭に置き、日々歩んでいきたいと思います。
