h2 もへじ さん

h3 ステップに参加していた時期
p
  |はっきりと覚えていないのですが、2012年からブランクを含め半年間ほど参加していました。

h3 当時のステップの会合について
p
  |ひきこもりに関連する悩みの話題などが多いにもかかわらず、
  |和気あいあいとしていて学生同士のサークルや趣味が合う人のお茶会のような雰囲気で
  |「こんな場所があるんだ・・・」と驚いた事、自分より悩んで苦労している方が
  |明るく饒舌に話している姿を見て勇気づけられたのを覚えています。

h3 当時のことで印象に残っていることや感想
p
  |会合で、2011年の東日本大震災で現地ボランティア活動をされた方のお話を聞く機会がありました。
  |穏やかで優しい語り口の方でしたが、復興への取り組みや現地の方々への想いには力強いものを
  |感じ、聞き役に徹していた周りの方々も同じものを感じ取られた（？）のか、
  |その日の会合の話題が震災に関連したものになり様々な発言がありどれも真っ直ぐで優しい意見だったのを覚えています。
  |皆さんの社会や自分の外側に発するパワーに圧倒され、背中を押してもらった実りのある印象的な一日でした。

h3 「ステップ」が自分の人生にとってどんなステップになったか
p
  |ステップ＝階段、の印象が強い私にとっては何度も昇り降りをして踊り場で休むことの繰り返しでした。
  |勤め先を辞めようと階段を降りてみたり、もっと知識を深めたい色んな世界を見てみたいと駆け上ったり、学業と就業どちらに力を入れるか同じ段で踏み止まってみたりしましたが、一番下まで降りることはありませんでした。
  |会合で様々な話を聞いて「自分も何か始めてみようかな」「もうちょっと頑張ってみようかな」など振り返ってみるとステップが原動力になっていたんだ、と思います。

h3 今現在の状況
p
  |派遣社員として働きながら通信制の福祉系大学に通っています。
  |恥ずかしながら、バランスよく両立は出来ていません・・・。

h3 15周年の集いの感想
p
  |嬉しい変化のあった方が多くて、こちらまで嬉しくなりました。
  |数年ぶりの参加でしたが、時間の流れを感じさせず温かく迎えて下さったスタッフの方には感謝が尽きません。
  |この場を借りてステップへ

  |15周年おめでとうございます。
  |長い歴史の中でほんの少しの参加をしただけの者ですが、短い時間の中で沢山のものをいただきました。
  |どうしたら少しでも返していけるかなと模索しつつ、これからもまたお世話になります。
