h2 ムサ さん
p
  |僕がステップに参加していたのは2008年から2012年頃で、その後も時々お邪魔させてもらっています。
  |ステップは自分にとって、いつでも安心して戻れる居場所であり、対等に人と接することのできる貴重な場となっています。
p
  |初めて会合に参加した時に、自分とはまるで違う前向きで社交的な参加者を見て、「この人がひきこもり？」と内心驚きました。
  |会合に参加していくうちに、ステップに来る人は「ひきこもり」という共通点があっても、育った環境、持っている性格、これまで歩んできた道のりは一人一人異なっていることを学びました。
p
  |幼稚園の頃から集団に入っていくのが苦手だった自分は、たいてい一人で過ごしていました。
  |社会という集団にもあまりなじめず、結局は自分だけの世界にひきこもる状態になってしまいました。
  |そんな自分を受け入れてくれたステップの方々には、とても有り難く思っています。
p
  |前を向いて頑張ろうとしている人の姿を目の当たりにし、自分が社会に入っていくうえで大きな励みになりました。
  |ステップでの出会いを通して、僕の人生がとても豊かになったように思えます。
  |現在は、念願だった一人暮らしをすることができ、製造業の仕事をしています。
p
  |まだまだ山や谷がありますが、Negativityに負けずにこれからも前を向いて歩いていきたいと思います。
