h2 リュウタ さん
p まずはステップ10周年おめでとうございます。パチパチ。
p 自己紹介をしますと、リュウタ（27）、現在就職活動中です。
p 僕は2008年1月から1年半ほど参加者、そしてスタッフとして関わらせて頂きました。
p 参加したての頃は当時スタッフの方も含めて4名ぐらいの会合が多く、今と比べると、こぢんまりとした会合だったのではないでしょうか。
p 寂しい反面、人数が少ないので参加者それぞれ方達の話をより深く聞けたし、自分の話を聞いてもらえた気がします。
p その中で励まし合いながら頑張って行こうよという仲間と出会えたのが、僕がステップにとても感謝している部分です。一人だったら諦めてたかもしれないしね。
p だから今後もステップの場が皆さんの良い出会いの場となって、共に人生のステップを踏みだして行ける場であり続ける事を願って止みません。
p 応援してます(^-^)
p でも、とにかくおめでとう!
