button.btn.btn-primary type="button" data-toggle="modal" data-target="#exampleModal"
  |Launch demo modal

.modal.fade#exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  .modal-dialog role="document"
    .modal-content
      .modal-header
        h5.modal-title#exampleModalLabel Modal title
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
      .modal-body ...
      .modal-footer
        button.btn.btn-primary type="button" data-dismiss="modal" Close
        button.btn.btn-primary type="button" Save changes
