//.container-fluid.header-nav
nav.header-nav__navbar.navbar.navbar-expand-sm
  button.navbar-toggler type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false"
    span.navbar-toggler-icon
  = link_to root_url, class: "navbar-brand mr-4 header-nav__navbar__logo" do
    i.fa.fa-cube.fa-lg.mr-2
    |
      STEP
  end
  small.navbar-brand.header-nav__navbar__logo--second ひきこもり自助グループ「ステップ」
  #nav-content.header-nav__navbar__menu.collapse.navbar-collapse.justify-content-end
    ul.navbar-nav
    - if user_signed_in?
      li.nav-item.nav-item--username
        p.my-auto #{current_user.username}さん
      li.nav-item.nav-item--signed-user
        = button_to root_url, method: :get, class: "btn-plain nav-link--notification" do
          i.fa.fa-fw.fa-bell-o.fa-lg alt="notification"
      li.nav-item.nav-item--signed-user
        = button_to edit_user_registration_url, method: :get, class: "btn-plain nav-link--settings" do
          i.fa.fa-fw.fa-cog.fa-lg alt="settings"
      li.nav-item.nav-item--signed-user
        = button_to destroy_user_session_url, method: :delete, class: "btn-plain nav-link--sign-out" do
          i.fa.fa-fw.fa-sign-out.fa-lg alt="sign out"
    - else
      li.nav-item.nav-item--anonymous-user
        = button_to new_user_registration_path, method: :get, class: "btn-plain nav-link--sign-out" do
          i.fa.fa-fw.fa-user-plus.fa-lg alt="sign up"
      li.nav-item.nav-item--anonymous-user
        = button_to new_user_session_url, method: :get, class: "btn-plain nav-link--sign-in" do
          i.fa.fa-fw.fa-sign-in.fa-lg alt="sign in"
