nav.sidebar
  ul.nav.flex-column.sidebar__items
    = link_to  "ホーム", :index, class: "nav-link sidebar__items__item"
    = link_to  "はじめに", :introduction, class: "nav-link sidebar-nav-link sidebar__items__item"
    = link_to "当サークルについて", :about, class: "nav-link sidebar-nav-link sidebar__items__item"
    = link_to "参加方法", :joinus, class: "nav-link sidebar-nav-link sidebar__items__item"
    = link_to "運営スタッフ紹介", :staff, class: "nav-link sidebar-nav-link sidebar__items__item"
    = link_to "スケジュール", :schedule, class: "nav-link sidebar-nav-link sidebar__items__item"
    = link_to "これまでの歩み", :history, class: "nav-link sidebar-nav-link sidebar__items__item"
    = link_to "参加者の声", :voice, class: "nav-link slidebar-nav-link sidebar__items__item"
    = link_to "会則", :rules, class: "nav-link sidebar-nav-link sidebar__items__item"
    = link_to "リンク", :external_links , class: "nav-link sidebar-nav-link sidebar__items__item"
