doctype html
html lang="ja"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - page_title = yield :title
    title #{page_title.present? ? page_title + ' | Step' : ''}
    = csrf_meta_tags
  body
    .container-fluid.header-nav
      = render 'layouts/navbar'
    header.container.header-container
      // flash messages
      - if !flash.empty?
        - flash.each do |type, msg|
          = content_tag 'p', msg, class: "alert alert-#{type}"

      // debug messages
      //= debug(params) if Rails.env.development?
      = render 'layouts/header'
    .container.main-container
      .row
        .main-container__side-content.col-md-2
          = render 'layouts/sidebar'
        .main-container__main-content.col-md-10
          main.page
            = yield
    footer.container-fluid.footer-container
      = render 'layouts/footer'
